<!DOCTYPE html>
<html>
  <head>
    <title>Lnclassapp</title>
    <%= render "layouts/shared/headers" %>
  </head>

  <body>
    <%= render "layouts/shared/notices" %>
    <%= yield %>
  </body>
</html>
